html {
  background: url(../images/snowy-tree.jpg)
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #c3e2ff;
  padding: 5px 20px 40px 20px;
}
.darkblue-bg {
  background-color: rgb(120,182,237);
  padding: 0px 20px 20px 20px;
  text-align: center;
}
.white-text {
  color: white;
}
.yellow-link {
  color: rgb(235, 238, 75)
}
.font-size16 {
  font-size: 16pt;
}
.top-padding {
  padding-top: 5px;
}