html {
  background-color: hsl(0, 0%, 100%);
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #b4dff0;
  padding: 10px 20px 20px 20px;
}
.darkblue-bg {
  background-color: rgb(33, 120, 146);
  padding: 0px 20px 20px 20px;
  text-align: center;
}
.white-text {
  color: white;
}
.yellow-link {
  color: rgb(235, 238, 75)
}
.font-size16 {
  font-size: 16pt;
}
.top-padding {
  padding-top: 5px;
}