html {
  background-color: hsl(0, 0%, 100%);
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #b4dff0;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}
.darkblue-bg {
  background-color: rgb(33, 120, 146);
  padding: 2px 20px 20px 20px;
  text-align: center;
  align-items: center;
}
.white-text {
  color: white;
}
.yellow-link {
  color: rgb(235, 238, 75)
}